extends ../layout

block title
  | import book

block content

  each book in books

    .container
      .row
        .span12
          h1=book.title
      .row
        .span2
          small
            p
              b Published
              br
              != dateShortMon(book.createdAt)

            p
              b Posted in
              br
              | #{book.tags}
        .span10
          != marked(book.body)
