doctype 5
html(lang='en')
  head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title
      block title
      |  - #{appName}

    meta(name='description', content='cloudbookcase app..')

    link(rel='icon', href='/img/favicon.ico', type='image/x-ico')
    link(rel='shortcut icon', href='/img/favicon.ico', type='')

    meta(property='fb:app_id', content='123456789')
    meta(property='og:title', content='#{title}')
    meta(property='og:description', content='cloudbookcase app..')
    meta(property='og:type', content='website')
    meta(property='og:url', content='//cloudbookcase.herokuapp.com')
    meta(property='og:image', content='http://blog.getbootstrap.com/wp-content/themes/bootstrap-blog/img/bootstrap-blog-logo.png')
    meta(property='og:site_name', content='cloudbookcase')
    meta(property='fb:admins', content='123456789')


    != css('main.min')
    != css('style')


    != js('lib/sarge.js')
    != js('lib/sarge-eventually.js')
    != js('lib/sarge-standards-css-select.js')
    != js('sarge-fu.js')
    != js('lib/js-unzip.js')
    != js('lib/js-inflate.js')
    != js('lib/js-epub.js')
    != js('lib/copperplate.js')
    != js('booktorious.js')
    != js('booktorious/loading.js')
    != js('booktorious/reader.js')
    != js('booktorious/spine_entry.js')
    != js('application.js')
    != js('vendor/jquery.min.js')
    != js('vendor/bootstrap.js')
    // != js('by-battle-hack.min.js')




    // if lte IE 9
      !css('style-ie9-lte')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button(type='button', class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.brand(href='/') CloudBookcase

          .nav-collapse.collapse

            if req.user
              p.navbar-text.pull-right
                | Welcome, #{req.user.name}
                | |
                a(href='/logout') logout
            else
              p.navbar-text.pull-right
                a(href='/login') Login
            ul.nav
              li
                a(href='/import') Epub
              li
                a(href='/') Home

              if req.user
                li
                  a(href='/users/') Users
                li
                  a(href='/books/') Books
                li
                  a(href='/articles/') Articles

    .container
      block content

